<a href="https://colab.research.google.com/github/y1shubham/Computer-Hadware-software-Workshop/blob/main/MINOR4_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

# from pyspark.sql import SparkSession
# from pyspark.sql.functions import col, sum
# import pandas as pd
# import os

# spark = SparkSession.builder \
#     .appName("SalesDataAnalysis") \
#     .getOrCreate()

# sales_data = spark.read.csv("Sales_data.csv", header=True, inferSchema=True)
# sales_data.show()
# sales_data = sales_data.dropDuplicates()
# sales_data = sales_data.na.drop()
# sales_data.show()
# sales_data = sales_data.groupBy("Product").agg(sum("Amount").alias("TotalSales"))
# sales_data.write.csv("result.csv", header=True)
# csv_files = [file for file in os.listdir("result.csv") if file.endswith('.csv')]
# result_df = pd.concat([pd.read_csv(os.path.join("result.csv", file)) for file in csv_files])
# print(result_df)
# spark.stop()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
+-------+-------+------+
|OrderID|Product|Amount|
+-------+-------+------+
|      1|  Apple|  20.5|
|      2| Banana| 15.75|
|      3| Orange|  12.0|
|      4|  Apple|  18.0|
|      5| Grapes|  24.5|
|      6| Banana|  NULL|
|      7| Orange| 10.25|
|      8|   NULL|  22.0|
|      9|  Apple| 16.75|
|     10| Grapes|  20.0|
|     11|  Apple|  NULL|
|     12| Orange|  15.0|
|     13| Banana| 19.25|
|     14| Orange|  14.5|
|     15|  Apple|  21.0|
|     16| Grapes| 23.75|
|     17| Banana|  17.5|
|     18| Banana|  16.0|
|     19| Orange|  NULL|
|     20|  Apple|  19.5|
+-------+-------+------+
only showing top 20 rows

In [ ]:
sales_data = sales_data.dropDuplicates()

In [ ]:
sales_data = sales_data.na.drop()

In [ ]:
sales_data = sales_data.na.drop()

In [ ]:
sales_data = sales_data.dropDuplicates()

In [ ]:
sales_data.show()

+-------+-------+------+
|OrderID|Product|Amount|
+-------+-------+------+
|      4|  Apple|  18.0|
|      9|  Apple| 16.75|
|     27| Banana|  17.0|
|      5| Grapes|  24.5|
|     24| Banana|  21.5|
|      7| Orange| 10.25|
|     10| Grapes|  20.0|
|     13| Banana| 19.25|
|     30| Orange|  12.5|
|      1|  Apple|  20.5|
|     17| Banana|  17.5|
|     12| Orange|  15.0|
|     29| Grapes| 21.75|
|     26| Orange| 13.25|
|     28|  Apple| 20.75|
|     21| Grapes| 22.25|
|     20|  Apple|  19.5|
|     23|  Apple| 14.25|
|     14| Orange|  14.5|
|     15|  Apple|  21.0|
+-------+-------+------+
only showing top 20 rows

In [ ]:
sales_data = sales_data.groupBy("Product").agg(sum("Amount").alias("TotalSales"))

In [ ]:
sales_data.write.csv("result.csv", header=True)

In [ ]:
csv_files = [file for file in os.listdir("result.csv") if file.endswith('.csv')]
result_df = pd.concat([pd.read_csv(os.path.join("result.csv", file)) for file in csv_files])
print(result_df)

  Product  TotalSales
0  Orange       77.50
1  Banana      107.00
2  Grapes      137.25
3   Apple      130.75

In [ ]:
spark.stop()